@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

body {
  margin: 0;
  padding: 0;
}

.navbar-superior {
  background-color: #5652C7;
  color: #fff;
  height: 52px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.navbar-dobravel {
  background-color: #5652C7;
  color: #fff;
  width: 250px;
  height: calc(100% - 52px);
  position: fixed;
  top: 52px;
  left: 0;
  padding-top: 20px;
  transition: width 0.3s ease;
}

.navbar-dobravel.dobrada {
  width: 60px;
}

.navbar-dobravel button {
  display: block;
  margin: 0 auto;
  position: absolute; /* Posicionamento absoluto */
  top: 0;
  right: 0;
  padding: 10px; /* Espaçamento interno */
}

.navbar-dobravel button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: transparent;
  border: none;
  margin-right: 10px; 
  margin-top: 10px;
}

.navbar-dobravel button i {
  color: #fff;
}

