.container {
    background-color: lightblue;
}

.container-top {
    background-color: lightgreen;
}

.list-view {
    background-color: lightyellow;
}

.add-client-button-container {
    background-color: lightcoral;
}

.add-client-button {
    background-color: lightskyblue;
}

.list-container {
    background-color: lightgray;
}

.top-list {
    background-color: lightseagreen;
}

.table-container {
    background-color: lightpink;
}
